.oneCard {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  align-items: center;

  img {
    width: 100px;
    height: 150px;
  }
}

.main {
  background: #8b0330;
  padding: 10px 0;
  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    img {
      width: 40px;
    }
  }

  .col {
    display: flex;
    align-items: center;
    button {
      font-size: 25px;
      border: none;
      background: none;
      cursor: pointer;
      padding: 5px;
      margin: 0 15px;
    }
  }
}
.cartBlock {
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.2);
  padding: 50px 0;
}

.mainBlock {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
  .payBlock {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.2);
    p {
      font-size: 24px;
    }
    button {
      padding: 10px;
      font-size: 20px;
      border: none;
      background: black;
      border-radius: 3px;
      color: #ffffff;
    }
  }
}
