.oneCard {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  align-items: center;

  height: 150px;
  padding: 10px;
  margin: 10px 10px;
  color: black;
  img {
    width: 100px;
  }
}

.main {
  padding: 10px 0;
  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    img {
      width: 40px;
    }
  }
  .deleteCart {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: black;
  }

  .col {
    display: flex;
    align-items: center;
    button {
      font-size: 25px;
      border: none;
      background: none;
      color: black;
      cursor: pointer;
      padding: 5px;
      margin: 0 15px;
    }
  }
}
.cartBlock {
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.2);
}

.mainBlock {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
  .payBlock {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.2);
   
    button {
      padding: 10px;
      font-size: 20px;
      border: none;
      background: black;
      border-radius: 3px;
      color: #ffffff;
    }
  }
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  img {
    width: 150px;
  }
  a {
    text-decoration: underline;
    color: black;
  }
  a:hover {
    color: grey;
  }
}

.errorMessage {
  color: red;
}

.payBlock {
  text-align: center;
  button:disabled {
    background: rgba(0, 0, 0, 0.685);
    cursor: not-allowed;
  }
  p{
    color: rgba(250, 70, 70, 0.785);
  }
  a{
    font-size: 15px;
    text-decoration: underline;
    color: black;
  }
  h4{
    font-weight: 400;
  }
}

