.followMain {
  display: flex;
  flex-direction: column;
  background: #8b0330;
  align-items: center;
}
.registerLink {
  color: black;
  transition: .3s;
  padding: 5px;
  color: white;
  background: black;
  border-radius: 5px;
}
.registerLink:hover {
  scale: 1.1;
}
.follow {
  display: flex;
  justify-content: center;
  padding: 100px 0px 50px 0px;

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    margin: 15px 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background: transparent;
    border: 2px solid #ffffff;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
  button:hover {
    background: #fd0054;
    color: white;
    border: 2px solid #fd0054;
  }

  .block {
    color: white;
    text-align: center;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2b2024;
    padding-bottom: 20px;
    transition: .5s;
    h1 {
      color: #fd0054;
      font-size: 20px;
      font-weight: 500;
    }
    .followBlock {
      display: flex;
      margin-bottom: 10px;
      img {
        width: 25px;
      }
    }
  }
}

.block:hover {
  scale: 1.1;
}
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    color: black;
  }
  .modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: black;
    }
    a {
      text-decoration: none;
      color: green;
    }
    a:hover {
      text-decoration: underline;
    }
    .trueMessage{
      color: green;
    }
    button {
      margin: 10px;
      padding: 10px;
      border: none;
      background: #fd0054;
      color: #ffffff;
      border-radius: 3px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
