
.blockDuo {
  display: flex;
  justify-content: center;
}

.blockTwo {
  display: flex;
  width: 1400px;
  align-items: center;
  justify-content: center;

  .logo {
    background: #fd0054;
    color: #ffffff;
    width: 200px;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 0px;
    h3 {
      font-weight: 500;
      font-size: 22px;
    }
    img {
      width: 45px;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    width: 1126px;
    background: #2b2024;
    height: 110px;
    align-items: center;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 17px;
    }
   
  }
  .join {
    background: #fd0054;
    width: 347px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      font-size: 24px;
      color: #ffffff;
      font-weight: 500;
    }
  }
}

header {
  background: #8b0330;
}

.profile {
  display: flex;
  align-items: center;
  img {
    width: 24px;
    
  }
}

.linkNav {
  display: flex;
  align-items: center;
  img {
    width: 20px;
  }
}

.linkNav:hover {
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}

.linkNav:focus {
  border-bottom: 2px solid #ffffff;
}